<div class="container">
  <a href="/">
    <h1 class="h1 title">URL Shortener</h1>
  </a>
  <img class="image" src="pictures/ExportedContentImage_00.png" alt="picture">
  <h1 class="h1 title">Success! please use this link:</h1>
  <a id="shortURL" href={{shortURL}} class="h1">{{shortURL}}</a>
  <button onclick="copyURL()" class="btn btn-outline-primary" style="display:block">Copy</button>
</div>