<div class="container">
  <a href="/">
    <h1 class="h1 title">URL Shortener</h1>
  </a>
  <img class="image" src="pictures/ExportedContentImage_00.png" alt="picture">
  <form action="/finished" method="get">
    <input type="url" id="input_URL" name="input_URL" class="form-control" placeholder="input URL here" required>
    <button type="submit" class="btn btn-outline-primary" style="display:block">shorten</button>
  </form>
</div>